@font-face {
	font-family: 'Siemreap';
	src: url('Siemreap.eot');
	src: url('Siemreap.eot?#iefix') format('embedded-opentype'),
		url('Siemreap.woff2') format('woff2'),
		url('Siemreap.woff') format('woff'),
		url('Siemreap.ttf') format('truetype'),
		url('Siemreap.svg#Siemreap') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Battambang';
	src: url('Battambang-Regular.eot');
	src: url('Battambang-Regular.eot?#iefix') format('embedded-opentype'),
		url('Battambang-Regular.woff2') format('woff2'),
		url('Battambang-Regular.woff') format('woff'),
		url('Battambang-Regular.ttf') format('truetype'),
		url('Battambang-Regular.svg#Battambang-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Battambang';
	src: url('Battambang-Light.eot');
	src: url('Battambang-Light.eot?#iefix') format('embedded-opentype'),
		url('Battambang-Light.woff2') format('woff2'),
		url('Battambang-Light.woff') format('woff'),
		url('Battambang-Light.ttf') format('truetype'),
		url('Battambang-Light.svg#Battambang-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Battambang';
	src: url('Battambang-Thin.eot');
	src: url('Battambang-Thin.eot?#iefix') format('embedded-opentype'),
		url('Battambang-Thin.woff2') format('woff2'),
		url('Battambang-Thin.woff') format('woff'),
		url('Battambang-Thin.ttf') format('truetype'),
		url('Battambang-Thin.svg#Battambang-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Battambang';
	src: url('Battambang-Black.eot');
	src: url('Battambang-Black.eot?#iefix') format('embedded-opentype'),
		url('Battambang-Black.woff2') format('woff2'),
		url('Battambang-Black.woff') format('woff'),
		url('Battambang-Black.ttf') format('truetype'),
		url('Battambang-Black.svg#Battambang-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Battambang';
	src: url('Battambang-Bold.eot');
	src: url('Battambang-Bold.eot?#iefix') format('embedded-opentype'),
		url('Battambang-Bold.woff2') format('woff2'),
		url('Battambang-Bold.woff') format('woff'),
		url('Battambang-Bold.ttf') format('truetype'),
		url('Battambang-Bold.svg#Battambang-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Moul';
	src: url('Moul-Regular.eot');
	src: url('Moul-Regular.eot?#iefix') format('embedded-opentype'),
		url('Moul-Regular.woff2') format('woff2'),
		url('Moul-Regular.woff') format('woff'),
		url('Moul-Regular.svg#Moul-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}



@font-face {
    font-family: 'Hanuman';
    src: url('Hanuman-Black.eot');
    src: url('Hanuman-Black.eot?#iefix') format('embedded-opentype'),
    url('Hanuman-Black.woff2') format('woff2'),
    url('Hanuman-Black.woff') format('woff'),
    url('Hanuman-Black.ttf') format('truetype'),
    url('Hanuman-Black.svg#Hanuman-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanuman';
    src: url('Hanuman-Light.eot');
    src: url('Hanuman-Light.eot?#iefix') format('embedded-opentype'),
    url('Hanuman-Light.woff2') format('woff2'),
    url('Hanuman-Light.woff') format('woff'),
    url('Hanuman-Light.ttf') format('truetype'),
    url('Hanuman-Light.svg#Hanuman-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanuman';
    src: url('Hanuman-Bold.eot');
    src: url('Hanuman-Bold.eot?#iefix') format('embedded-opentype'),
    url('Hanuman-Bold.woff2') format('woff2'),
    url('Hanuman-Bold.woff') format('woff'),
    url('Hanuman-Bold.ttf') format('truetype'),
    url('Hanuman-Bold.svg#Hanuman-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanuman';
    src: url('Hanuman-Regular.eot');
    src: url('Hanuman-Regular.eot?#iefix') format('embedded-opentype'),
    url('Hanuman-Regular.woff2') format('woff2'),
    url('Hanuman-Regular.woff') format('woff'),
    url('Hanuman-Regular.ttf') format('truetype'),
    url('Hanuman-Regular.svg#Hanuman-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hanuman';
    src: url('Hanuman-Thin.eot');
    src: url('Hanuman-Thin.eot?#iefix') format('embedded-opentype'),
    url('Hanuman-Thin.woff2') format('woff2'),
    url('Hanuman-Thin.woff') format('woff'),
    url('Hanuman-Thin.ttf') format('truetype'),
    url('Hanuman-Thin.svg#Hanuman-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}


