@import url(../fonts/styles.css);

:root {
    --bs-primary: #4d9dd6;
    --bs-secondary: #006390;
}

body {
    font-family: 'Work Sans', 'Siemreap', sans-serif;
    font-size: 1rem;
}
h3 {
    line-height: 1.6;
}
h6 {
    line-height: 1.25;
}
p {
    font-size: inherit;
}
.text-moul {
    font-family: 'Work Sans', 'Moul', sans-serif;
}
.text-battambang {
    font-family: 'Work Sans', 'Battambang', sans-serif;
}
.text-siemreap {
    font-family: 'Work Sans', 'Siemreap', sans-serif;
}
.text-hanuman {
    font-family: 'Roboto Condensed', 'Hanuman', serif !important;
}
.bg-primary {
    color: #fff;
    background-color: var(--bs-primary)!important;
}
.text-primary {
    color: var(--bs-primary)!important;
}
.text-secondary {
    color: var(--bs-secondary)!important;
}
.fs-20px {
    font-size: 20px;
}
.w-0 {
    width: 0%!important;
}
.login-wrap {
    filter: drop-shadow(0 0 13.5px rgba(0, 0, 0, 0.09));
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-wrap .card {
    border-radius: 1rem;
}
.login-wrap .card .card-body {
    padding: 0;
    border-radius: 1rem;
}
.col-details {
    padding: 20px;
}
.col-login {
    color: #000;
    padding: 20px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.col-login-primary {
    color: #fff;
    background-color: var(--bs-primary);
}
.icon-lists a.btn {
    color: var(--bs-secondary)!important;
}
.icon-lists a.btn:hover {
    color: #fff!important;
    border-color: var(--bs-primary)!important;
    background-color: var(--bs-primary)!important;
}
.icon-lists a.active.btn {
    color: #fff!important;
    border-color: var(--bs-primary)!important;
    background-color: var(--bs-primary)!important;
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active {
    color: #fff!important;
    border-color: var(--bs-primary)!important;
    background-color: var(--bs-primary)!important;
}
.btn-secondary {
    border-color: var(--bs-secondary)!important;
    background-color: var(--bs-secondary)!important;
    color: #fff!important;
}
.copyright {
    padding-top: 16px;
    text-align: center;
    font-size: 85%;
    position: relative;
}
.copyright::before {
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 0.9px;
    position: absolute;
    background-color: #dee2e6;
}
.col-login-primary .copyright::before {
    height: 1px;
    background-color: var(--bs-secondary);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(168, 219, 255, 1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(168, 219, 255, 1);
    box-shadow: 0px 1px 0px 0px rgba(168, 219, 255, 1);
}
.col-login-primary .copyright {
    color: #d8d8d8;
}
.icon-lists, .navs-icon li a span {
    font-family: inherit;
}
.icon-lists div {
    font-family: inherit;
    cursor: inherit;
    line-height: normal;
}
.icon-lists div:hover {
    background-color: transparent;
}
svg {
    vertical-align: middle!important;
}
.btn-md.btn-primary {
    color: #fff!important;
}
.btn-md.btn-success {
    color: #fff!important;
}
.pixelstrap > li {
    margin-left: 10px;
    margin-bottom: 10px;
}
.pixelstrap > li > a, .pixelstrap > li > a:hover, .pixelstrap > li > a:active {
    padding: 0;
    font-size: 16px;
}
.pixelstrap > li > a {
    color: var(--bs-primary);
}
.pixelstrap > li > a:hover {
    color: var(--bs-secondary);
}
.navs-icon i {
    font-size: 1.5rem;
}
.input-group-text i {
    color: #c5c5c5;
}
.default-according.style-1 button[aria-expanded="false"]:before {
    content: "î­º";
    font-family: IcoFont;
}
.default-according.style-1 button:before {
    right: 20px;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.list-group .card .card-body {
    padding: 30px;
}

@media (min-width: 1200px) {
    .page-wrapper .mega-menu-header .vertical-menu-main {
        width: 100%;
        right: 0;
    }
}
/* @media only screen and (max-width: 1199px) {
	.mega-menu-header .vertical-mobile-sidebar {
		right: 0;
		top: 0;
	}
}
@media only screen and (max-width: 991px) {
	.page-wrapper .page-main-header .main-header-left .logo-wrapper img {
		height: 96px;
	}
} */
