.menu-wrapper {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
	max-width: 100%;
	border-radius: 12px;
}
.menu-wrapper .icon {
	position: absolute;
	top: 0;
	height: 100%;
	width: 80px;
	display: flex;
	align-items: center;
}
.icon:first-child {
	left: 0;
	display: none;
	background: linear-gradient(90deg, rgb(151 210 253) 70%, transparent);
}
.icon:last-child {
	right: 0;
	justify-content: flex-end;
	background: linear-gradient(-90deg, rgb(151 210 253) 70%, transparent);
}
.icon i {
	width: 55px;
	cursor: pointer;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 50%;
}
.icon i:hover {
	color: #016390;
}
.icon:first-child i {
	margin-left: 15px;
}
.icon:last-child i {
	margin-right: 15px;
}
.menu-wrapper .menu-tabs-box {
	display: flex;
	gap: 12px;
	list-style: none;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.menu-tabs-box.dragging {
	scroll-behavior: auto;
	cursor: grab;
}
.menu-tabs-box .menu-tab-item {
	cursor: pointer;
	font-size: 16px;
	white-space: nowrap;
	border-radius: 30px;
	border: 2px solid #479fe6;
	color: #3498db;
	min-width: 68px;
	text-align: center;
}
.menu-tabs-box .menu-tab-item:hover {
	background-color: #479fe6;
	color: #fff;
}
.menu-tabs-box .menu-tab-item:hover a {
    color: #ffffff;
}
.menu-tabs-box.dragging .menu-tab-item {
	user-select: none;
	pointer-events: none;
}
.menu-tabs-box .menu-tab-item.active {
	background: #FF9600;
	color: #fff;
}
.menu-tabs-box .menu-tab-item a {
    width: 100%;
    display: block;
    border-radius: 30px;
}

