@import url(../fonts/styles.css);

:root {
  --bs-primary: #4d9dd6;
  --bs-secondary: #006390;
}

body {
	font-family: 'Work Sans', 'Siemreap', sans-serif;
	font-size: 1rem;
}
p {
	font-size: inherit;
}
.text-moul {
	font-family: 'Work Sans', 'Moul', sans-serif;
}
.text-battambang {
	font-family: 'Work Sans', 'Battambang', sans-serif;
}
.text-siemreap {
	font-family: 'Work Sans', 'Siemreap', sans-serif;
}
.text-hanuman {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
}
.text-hanuman-15 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 15px!important;
}
.text-hanuman-16 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 16px!important;
}
.text-hanuman-17 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 17px!important;
}
.text-hanuman-18 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 18px!important;
}
.text-hanuman-19 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 19px!important;
}
.text-hanuman-20 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 20px!important;
}
.text-hanuman-22 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 22px!important;
}
.text-hanuman-24 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 24px!important;
}
.text-hanuman-26 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 26px!important;
}
.text-hanuman-28 {
    font-family: 'Work Sans', 'Hanuman', sans-serif;
    font-size: 28px!important;
}
.bg-primary {
	color: #fff;
	background-color: #2872f0 !important;
    /*background-color: var(--bs-primary)!important;*/
}
.text-primary {
	color: var(--bs-primary)!important;
}
.text-secondary {
	color: var(--bs-secondary)!important;
}
.text-purple {
    color: #7c4fe0!important;
}
.text-pink {
    color: #FF1493!important;
}
.w-0 {
	width: 0%!important;
}
.page-sidebar {
	margin-top: 80px; /**  140*/
}
.page-top-header {
	width: 100%;
	height: 80px; /**  140*/
	position: fixed;
	padding: .5rem;
	background-color: #fff;
	border-bottom: 2px solid #f3f3f3;
	z-index: 15;
}
.logo-icon {
	height: 60px; /** 120 */
}
.page-wrapper .page-main-header {
	height: 60px;
	top: 80px; /**  140*/
	box-shadow: none;
	-webkit-box-shadow: none;
}
.page-wrapper .page-body-wrapper .page-sidebar .main-header-left {
	height: 60px;
	background-color: #2872f0;
    /*background-color: var(--bs-primary);*/    ;
}
.page-wrapper .page-body-wrapper .page-sidebar .main-header-left,
.page-wrapper .page-body-wrapper .sidebar {
	-webkit-box-shadow: none;
	/*box-shadow: none;*/
	position: relative;
    box-shadow: 2px 2px 2px #fff;
    /*border-bottom: 1px solid #fffacd;*/
}
.page-wrapper .page-body-wrapper .page-sidebar .main-header-left::after {
	/* width: 100%;
	height: 1px;
	display: block;
	content: '';
	-webkit-box-shadow: 0px 1px 0px 0px #000;
	-moz-box-shadow: 0px 1px 0px 0px #000;
	box-shadow: 0px 1px 0px 0px #000;
	background-color: #4b607c;
	margin-top: 12px; */
}
.page-wrapper .page-body-wrapper .page-sidebar .main-header-left::after {
	width: 1px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	content: '';
	background-color: #2872f0;
    /*background-color: #1067a5;*/
	-webkit-box-shadow: 1px 0px 0px 0px rgba(168, 219, 255, 1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(168, 219, 255, 1);
	box-shadow: 1px 0px 0px 0px rgba(168, 219, 255, 1);
}
.page-wrapper .page-body-wrapper .page-body {
	margin-top: 130px; /** 200 */
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu .sidebar-header {
	font-size: 17px;
	font-family: 'Work Sans', 'Battambang', sans-serif;
	font-weight: normal;
}
.app-name {
	margin-left: 20px;
}
.switch-sm .switch-sidebar {
	margin-top: 0;
}
.switch-sidebar svg {
	vertical-align: middle;
}
.page-main-header .main-header-right svg line {
	color: #fff;
}
.page-main-header .main-header-right {
	padding: 0 20px;
	background-color: #2872f0;
    /*background-color: var(--bs-primary);*/
	color: #fff;


}
.page-main-header .main-header-right .nav-right > ul > li:first-child {
	width: auto;
	margin: 0;
}
.page-main-header .main-header-right .nav-right .profile-dropdown {
	right: 0;
}
.icofont {
	vertical-align: middle;
}
.nav-menus .icofont {
	font-size: 1.25rem;
}
svg {
	vertical-align: middle!important;
}
.btn-md.btn-primary {
	color: #fff!important;
}
.btn-md.btn-success {
	color: #fff!important;
}
.nav-topmenu .nav-link {
	color: var(--bs-primary);
}
.nav-topmenu .nav-link:hover {
	color: var(--bs-secondary);
}
.nav-topmenu .nav-icon {
	width: 32px;
	height: 32px;
}
.nav-topmenu .nav-link .nav-icon.nav-icon-fill path {
	fill: var(--bs-primary)!important;
}
.nav-topmenu .nav-link .nav-icon.nav-icon-strok path {
	stroke: var(--bs-primary)!important;
}
.nav-topmenu .nav-link:hover .nav-icon path {
	stroke: var(--bs-secondary)!important;
}
.pagination, .sidebar-submenu {
	list-style-type: none!important;
}
.page-wrapper .page-body-wrapper .page-sidebar .sidebar-menu .sidebar-header svg {
	width: 18px;
	height: 18px;
}
@media only screen and (max-width: 575px) {
	.app-brand {
		margin: 15px 0;
	}
	.logo-icon {
		height: auto;
	}
}
